@model List<WCPCourses.Models.DataModels.Course>
<div id="text" class="text">
        <h1>No, motherfucker</h1>
    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p>

    <h1>Are you ready for the truth?</h1>
    <p>My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that ninja Winston or anybody else is in there, you the first motherfucker to get shot. You understand? </p>

    <!-- end slipsum code -->


</div>
<div id="home" class="home div-bg">
  @foreach (var course in Model)      
    {

        <a href="@Url.Action("Course", new { id = course.Id })">
            <img class="home-images" src="@Url.Content(course.Img)" />
        </a>
    }
</div>