@model List<WCPCourses.Models.DataModels.Course>
<div id="text" class="text">
    <h1>Donec nec neque pharetra</h1>
        <p>Fusce leo mauris, sollicitudin nec nisl eget, vestibulum lacinia arcu. Integer hendrerit libero ut lorem sodales, luctus consequat risus placerat. Praesent et neque vitae nisi venenatis venenatis ut ut sapien. Vivamus a sodales sapien, id varius turpis. Nunc a mollis magna, sed sodales felis. Phasellus et vehicula lacus. Vestibulum pellentesque orci diam, nec venenatis diam consequat sed. Cras aliquam eu augue vel condimentum. </p>

        <h1>Nunc sem elit</h1>
    <p>Sed venenatis libero non sapien commodo, quis iaculis ante tristique. Vestibulum posuere dapibus erat, quis facilisis lectus convallis id. Donec nec neque pharetra, efficitur dolor vel, pretium magna. Donec aliquet, mauris sodales ultricies aliquam, libero sapien commodo arcu, nec varius nibh nulla aliquam eros. Nunc sem elit, malesuada ut venenatis vitae, posuere a ligula. Sed id felis tincidunt, venenatis elit eu, lobortis ante. Mauris nec mi est. Donec et ipsum vitae lacus laoreet convallis non a enim.</p>

    <!-- end slipsum code -->


</div>
<div id="home" class="home div-bg home-images">
  @foreach (var course in Model)      
    {

        <a href="@Url.Action("Course", new { id = course.Id })">
            <img class="home-images" src="@Url.Content(course.Img)" />
        </a>
    }
</div>