@model List<WCPCourses.Models.ViewModels.CourseViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>


        <h1> Hi</h1>
        

    </div>
</body>
</html>
